---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="Sobre nosotros">
    <p>
      STEAM Community es un blog de desarrollo centrado en la educación STEAM, una metodología de enseñanza que integra
      las disciplinas de Ciencia, Tecnología, Ingeniería y Matemáticas (STEM) con las disciplinas artísticas (A) para
      promover un aprendizaje más holístico y práctico. Este enfoque educativo fomenta la interdisciplinariedad y la
      creatividad, permitiendo a los estudiantes explorar y aplicar sus habilidades en diversas áreas de conocimiento.
    </p>

    <p>
      En STEAM Community, encontrarás contenido que abarca desde la planificación de proyectos STEAM hasta la discusión
      de desafíos y oportunidades en la implementación de la educación STEAM 3. También se discutirán temas relacionados
      con la formación de los docentes y el cambio de los sistemas de evaluación para adaptarse a este enfoque
      educativo.
    </p>

    <p>
      Además, el blog ofrece recursos y materiales de apoyo para docentes y estudiantes, incluyendo formatos de
      planeación STEAM editables y ajustables a las necesidades de cada docente. También se discutirán casos de estudio
      de proyectos STEAM exitosos, proporcionando ejemplos prácticos de cómo se puede aplicar este enfoque en la
      práctica.
    </p>

    <p>
      STEAM Community es un recurso valioso para cualquier persona interesada en la educación STEAM, ya sea que sea un
      docente, un estudiante, un investigador o simplemente alguien que esté interesado en cómo la educación puede ser
      más integrada y práctica.
    </p>
  </Page>
</Base>
