---
import config from '@config/config.json';
import HeartIcon from '@components/icons/HeartIcon.astro';
import social from '@config/social';

const socialItems = social.networks;
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center border-t border-zinc-100 dark:border-zinc-900">
    <div class="m-auto flex space-x-5 pt-8">
      {
        socialItems?.map((item) => (
          <a href={item.url} target="_blank" rel="noopener noreferrer">
            <figure>
              <Fragment set:html={item.svg} />
            </figure>
          </a>
        ))
      }
    </div>
    <p class="mb-8 mt-8 text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400">
      &copy; {year}. {config.site.title} - All rights REVERSED
      <span class="mt-2 block">
        Made with
        <HeartIcon />
         in Colombia. by
        <a
          href="https://www.linkedin.com/in/barrosjesus/"
          class="text-zinc-700 decoration-dashed transition hover:text-zinc-700/75 dark:text-zinc-200 dark:hover:text-zinc-200/75"
          >Jesus Barros</a
        >
      </span>
    </p>
  </div>
</footer>
